* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
nav {
    margin: 2.5rem 4rem;

    display: flex;
    justify-content: space-between;
    
}

div.logo {
    text-transform: uppercase;
    color: #5b41c8;
    font-size: 3rem;
}

div.nav-links {
    border-bottom: 2px solid aquamarine;
    
    height: 1.4em;
    margin: auto 0;
}

div.nav-links a {
    text-decoration: none;
    color: #5b41c8;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-right: 0.5rem;
    /* border-bottom: 2px solid aquamarine; */
}

div.nav-links:hover {
    background-color: aquamarine;
    transition: 0.3s;
}

/* main */
div.container {
    width: 70rem;
    
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 7rem 0;
    font-size: 4rem;
    font-weight: bolder;
}

div.staff-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;

    margin: 0 auto;
}

div.staff-card {
    width: 20rem;
    
}

div.staff-card img {
    width: 5rem;
    height: 5rem;
    display: block;
    margin: 1rem auto;

    border-radius: 50%;
    padding: 0.2rem;

    border: 1px solid rgb(202, 199, 199);
}

div.staff-card:hover img {
    border-color: #5b41c8;
    cursor: pointer;
}

div.staff-card h3 {
    font-size: 1.8rem;
    text-align: center;
    margin: 1.5rem 0;
}

div.staff-card h5 {
    text-transform: capitalize;
    color: #5b41c8;
    text-align: center;
    font-size: 1rem;
}

button.info-btn {
    background-color: transparent;
    border: 0;
    outline: none;
    color: lightgrey;
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

.info-btn .fa-angle-up {
    display: none;
}

p.staff-info {
    width: 19rem;
    max-height: 15rem;
    display: none;
}

p.staff-info.active {
    display: block;
    transition: display 0.8s ease-in-out;
}

p.staff-info.active .info-btn .fa-angle-up {
    display: block;
}

p.staff-info.active .info-btn .fa-angle-down {
    display: none;
}